<ion-content class="register-page">
   <ion-icon
    name="chevron-back-outline"
    class="back-icon"
    (click)="goBack()">
  </ion-icon>

  <div class="register-container">
    <div class="logo-container">
      <img src="assets/img/tinder-logo.png" alt="Logo" class="logo" />
    </div>
      <h2 class="title">My information</h2>

      <ion-item lines="full" class="input-item">
        <ion-input type="text" placeholder="First name" [(ngModel)]="userData.name"></ion-input>
      </ion-item>
      <ion-item lines="full" class="input-item">
        <ion-input type="text" placeholder="Last name" [(ngModel)]="userData.lastName"></ion-input>
      </ion-item>
      <ion-item lines="full" class="input-item">
        <ion-input type="email" placeholder="Email" [(ngModel)]="userData.email"></ion-input>
      </ion-item>
      <ion-item lines="full" class="input-item">
        <ion-input type="password" placeholder="Password" [(ngModel)]="userData.password"></ion-input>
      </ion-item>
      <ion-item lines="full" class="input-item">
        <ion-input type="text" placeholder="Country" [(ngModel)]="userData.country"></ion-input>
      </ion-item>

      <ion-button expand="block" class="register-btn" (click)="register()">Continue</ion-button>
    </div>
</ion-content>
